<h1>管理者　商品一覧ページ</h1>
<table class="table">
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>