<h1>ジャンル一覧・追加</h1>
  <%= form_with model: @new_genre, url: admin_genres_path do |f| %>
<h4>ジャンル名</h4>
  <%= f.text_field :name %>
  <%= f.submit '新規登録' %>

  <% end %>

<h3>ジャンル</h3>
<% @genres.each do |genre| %>
<span><%= genre.name %></span><br>
<% end %>

