<h1>注文履歴詳細画面</h1>

  <h4>注文情報</h4>
    注文日<br>
    配送先<br>
    支払方法

  <h4>請求情報</h4>
    商品合計<br>
    配送料<br>
    ご請求額

  <h4>注文内容</h4>
    <table>
      <thead>
        <th>商品</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
      </thead>
        <tbody>

        </tbody>
    </table>
